<div class="form-container">
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
 <div class="form-group">
       {{ form_label(form.createdAt) }}
        {{ form_widget(form.createdAt, {'attr': {'class': 'inp'}}) }}
        {{ form_errors(form.createdAt) }} 
            </div>
     {# <div class="form-group">
       {{ form_label(form.user) }}
        {{ form_widget(form.user, {'attr': {'class': 'inp', 'placeholder': 'Prenom'}}) }}
       
    </div> #}

    <div class="form-group">
       {{ form_label(form.event) }}
        {{ form_widget(form.event, {'attr': {'class': 'inp', 'placeholder': 'Email'}}) }}
        
    </div>
    
    <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;">{{ button_label|default('Save') }}</a>
    {{ form_end(form) }}


