{% extends 'base_Admin.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
<div class="card shadow mb-4">
                        <div class="card-header py-3"  >
                            <p class="m-0 font-weight-bold text-primary" style="text-align:center">Participant index</p>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
    <div>
     <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_admin_participant_new') }}">Create new</a>
    </br>
    </br>
    </div>
    
    <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
       <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>Id-participant</th>
                <th>Id-event</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.createdAt ? participant.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ participant.user }}</td>
                <td>{{ participant.event }}</td>
                <td>
                     <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_admin_participant_show', {'id': participant.id}) }}">show</a>
                    {# <button class="rounded-circle border-0"> <a href="{{ path('app_admin_participant_edit', {'id': participant.id}) }}">edit</a></button>
               #} </td> 
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
