{% extends 'base.html.twig' %}

{% block title %} Hopitallo-Hopitaux{% endblock %} 

 {% block nav %}  
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                       <a href="{{path('app_home')}}" class="nav-item nav-link ">Home</a>
                      <a href="{{path('hopital')}}"  class="nav-item nav-link active">Hopitaux</a>
                      
                        <a href="{{path('hopital_urgence')}}" class="nav-item nav-link">Urgence</a>
                   
                        <a href="{{path('event')}}" class="nav-item nav-link">Evenement</a>
                        <a href="{{path('profil')}}" class="nav-item nav-link">Profil</a>
                        <a href="#" class="nav-item nav-link">Deconnecter</a>

                    </div>
                </div>
                {% endblock %} 
{% block body %} 
 <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-8">
                <!-- Blog Detail Start -->
                <div class="mb-5">
                    <img class="img-fluid w-100 rounded mb-5" src="{{ asset('uploads/hopitaux/'~hopital.image) }}" alt="">
                    <div class="bg-light rounded text-center" style="padding: 30px;">
                        <p><h1 class="mb-4">
                        <h1>{{ hopital.nomh }} </h1>
                        <p><i class="fas fa-map-marker-alt"></i> {{ hopital.adresseh }}</p>
                        <p><i class="fas fa-phone fa-flip-horizontal"></i> {{ hopital.numeroh }}</p>
                        <p><i class="fas fa-hospital"></i> {{ hopital.typeh }}</p>
                    </h1></p>
                    </div>
                    
                
                </div>
                <!-- Blog Detail End -->

            </div>


            
            <!-- Sidebar Start -->
            <div class="col-lg-4">
                <!-- Search Form Start -->
                <div class="mb-5">
                    <div class="input-group">
                        <input type="text" class="form-control p-3" placeholder="Keyword">
                        <button class="btn btn-primary px-3"><i class="fa fa-search"></i></button>
                    </div>
                </div>
                <!-- Search Form End -->

                <!-- Category Start -->
                <div class="mb-5">
                    <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 mb-4">Services</h4>
                    <div class="d-flex flex-column justify-content-start">
                        {% for service in hopital.services %}
                        <a class="h5 bg-light rounded py-2 px-3 mb-2" href="{{path('medecin',{'id': service.id})}}"><i class="fa fa-angle-right me-2"></i>{{ service.nomService }}</a>
                        {% endfor %}
                    </div>
                </div>
                <!-- Category End -->
               
            </div>
            <!-- Sidebar End -->
        </div>
    </div>


{% endblock %} 

