{% extends 'base.html.twig' %}

{% block title %} Hopitallo-Hopitaux{% endblock %} 

{% block nav %}  
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                       <a href="{{path('app_home')}}" class="nav-item nav-link ">Home</a>
                      <a href="{{path('hopital')}}"  class="nav-item nav-link active">Hopitaux</a>
                      
                        <a href="{{path('hopital_urgence')}}" class="nav-item nav-link">Urgence</a>
                   
                        <a href="{{path('event')}}" class="nav-item nav-link">Evenement</a>
                        <a href="{{path('profil')}}" class="nav-item nav-link">Profil</a>
                        <a href="#" class="nav-item nav-link">Deconnecter</a>

                    </div>
                </div>
                {% endblock %}  

{% block body %} 

 <!-- Search Start -->
 <div class="container-fluid pt-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Trouver un médecin</h5>
                <h1 class="display-4 mb-4">Service de {{ service.nomService }}</h1>
            </div>
            <div class="mx-auto" style="width: 100%; max-width: 600px;">
                <div class="input-group">
                  <!--  <select class="form-select border-primary w-25" style="height: 60px;">
                        <option selected>Department</option>
                        <option value="1">Department 1</option>
                        <option value="2">Department 2</option>
                        <option value="3">Department 3</option>
                    </select>
                    -->
                    <input type="text" class="form-control border-primary w-50" placeholder="Keyword">
                    <button class="btn btn-dark border-0 w-25">Search</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Search End -->


    <!-- Search Result Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5">
            {% for user in service.medecins %}
                <div class="col-lg-6 team-item">
                     <div class="row g-0 bg-light rounded overflow-hidden">
                        <div class="col-12 col-sm-5 h-100">
                            <img class="img-fluid h-100" src="{{ asset('uploads/hopitaux/'~user.photo) }}" style="object-fit: cover;">
                        </div>
                        <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                            <div class="mt-auto p-4">
                                <h3>{{ user.nom }} {{ user.prenom }}</h3>
                                </br>
                                <h6 class="fw-normal fst-italic text-primary mb-4"><i class="far fa-envelope"></i> {{ user.email }}</h6>
                                <h6 class="fw-normal fst-italic text-primary mb-4"><i class="fas fa-phone fa-flip-horizontal"></i> {{ user.telephone }}</h6>
                            </div>
                             <div class="d-flex mt-auto border-top p-4">
                                <a class="btn btn-primary " href="{{path('rdv')}}">Prendre un rendez-vous</a>
                            </div>
                        </div>
                     </div>
                </div> 
            {% endfor %}
                
            </div>
        </div>
    </div>
    <!-- Search Result End -->

{% endblock %}  