{% extends 'base.html.twig' %}

{% block title %} Hopitallo-profil{% endblock %} 

{% block stylesheet %}
   
    <link href="{{asset('css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{asset('css/style.css')}}" rel="stylesheet">

    <link rel="shortcut icon" href="{{asset('assets/images/fav.jpgs')}}">
    <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.csss')}}">
    <link rel="stylesheet" href="{{asset('assets/css/fontawsom-all.min.csss')}}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/style.csss')}}" />

    <style>
        .appointment-list {
          display: flex;
          flex-direction: column;
          width: 80%;
          margin: 50px auto;
          background-color: #2642C2;
          border-radius: 10px;
          box-shadow: 0 10px 20px #FF1616, 0 6px 6px #FF1616;
        }
        .btn-comments {
  border: 1px solid #333;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: #fff;
  font-size: 1.1em;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-left: 20px;
}
.btn-comments:hover {
  background-color: #333;
  color: #fff;
}
.top-cover{
  background-image:url({{asset('/uploads/profil/profil_bg.png')}});
 
}

        .appointment {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px;
          border-bottom: 1px solid #2642C2;
          transition: all 0.3s ease-in-out;
        }
        .appointment:hover {
          transform: translateY(-10px);
          box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        }
        .date {
          font-weight: bold;
          font-size: 1.2em;
          color: #fff;
          width: 20%;
          text-align: center;
        }
        .description {
          font-size: 1.1em;
          color: #fff;
          width: 70%;
          padding-left: 20px;
        }
        .icon {
          width: 10%;
          text-align: center;
        }
        .icon i {
          font-size: 1.5em;
          color: #fff;
          transition: all 0.3s ease-in-out;
        }
        .appointment:hover .icon i {
          color: #fff;
        }
        .comments {
          display: block;
          width: 60%;
          margin: 20px auto;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
          padding: 20px;
        }
      </style>
    {% endblock %}

               {% block nav %}  
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{{path('app_home')}}" class="nav-item nav-link ">Home</a>
                        <a href="{{path('hopital')}}"  class="nav-item nav-link ">Hopitaux</a>
                      
                        <a href="{{path('hopital_urgence')}}" class="nav-item nav-link ">Urgence</a>
                   
                        <a href="{{path('event')}}" class="nav-item nav-link ">Evenement</a>
                        <a href="{{path('profil')}}" class="nav-item nav-link active">Profil</a>
                        <a href="" class="nav-item nav-link">Deconnecter</a>
                    </div>
                </div>
                {% endblock %}
           
  {% block body %} 
   <div class="container-fluid overcover">
        <div class="container profile-box">
            <div class="top-cover">
                <div class="covwe-inn">
                    <div class="row no-margin">
                        <div class="col-md-3 img-c">
                            <img style="width: 250px; height :270px" src="{{ asset('assets/images/profile.jpg') }}" alt="">
                        </div>
                        <div class="col-md-9 tit-det">
                        <br>
                        <br>
                        <h2 style="color:white;">Welcome to your profil</h2>
                            <h2 style="color:white;">Angelina Smith</h2>
                            <h2 style="color:white;"> </h2>
                    <br><br><br>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">RDV</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#resume" role="tab" aria-controls="profile" aria-selected="false">Urgence</a>
              </li>
            <!--  <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#gallery" role="tab" aria-controls="profile" aria-selected="false">Event</a>
              </li>-->
             
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  <div class="row no-margin home-det">
                      <div class="col-md-4 big-img">
                         
                       
                          <h4 class="ltitle">Referencess</h4>

                        <div class="refer-cov">
                            
                            <p><b>Nom et prenom : </b> Amine ben rejeb</p>
                            <span><b>Email :</b>  Amine ben rejeb@gmail.com</span><br>
                            <span><b>Phone :</b>  +00 890 1232 8767 </span>
                        </div>
                        <div class="refer-cov">
                           
                            <p> <b>Adresse :</b> Rades </p>
                            <span><b>Date de naissance :</b>22 / 04 / 2002</span>
                        </div>
                        <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Edit your profil</a>
                      </div>
                      <div class="col-md-8 home-dat">
                         
                      
                          <div class="links">
                          <div class="row ">
                              <div class="col-xl-6 col-md-12">
                                  <ul class="btn-link">
                                
                                      <li>
                                      <a href=""><i class="fas fa-cloud-download-alt"></i> Download Dossiers medical</a>
                                      </li>
                                  </ul>
                              </div>
                              
                            
                          </div>
                      </div>
                      <h2 class="rit-titl"> Statistiques</h2>
                      <div class="jumbo-address">
                         <div class="row no-margin">
                                  <div class="col-lg-6 no-padding">

                                  <table class="addrss-list">
                                      <tbody><tr>
                                          <th>RDV</th>
                                          <td>10</td>
                                      </tr>
                                      <tr>
                                        <th>Urgence</th>
                                        <td>5</td>
                                    </tr>
                                      <tr>
                                          <th>Event</th>
                                          <td>2</td>
                                      </tr>
                                     
                                  </tbody></table>

                          </div>
                          <div class="col-lg-6 no-padding">
                               <table class="addrss-list">
                                      <tbody><tr>
                                          <th>Medecin préféré</th>
                                          <td>Dr.amine ben rejeb</td>
                                      </tr>
                                      <tr>
                                          <th>Hopital préféré </th>
                                          <td>Hopital Ezzahra</td>
                                      </tr>
                                    
                                  </tbody></table>
                          </div>
                         </div>

                      </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane fade exp-cover" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  <div class="data-box">
                          <div class="sec-title">
                                
                           <div class="row exp-row">
                            <h2>Historique Rendez-vous </h2>
                        </div>
                        <div class="appointment-list">
                            <div class="appointment">
                              <div class="date">01/01/2023</div>
                              <div class="description">Rendez-vous chez le dentiste</div>
                              <div class="icon"><i class="fas fa-tooth"></i></div>
                           
                            </div>
                            <div class="comments">
                                <h3>Commentaires des médecins</h3>
                                <p>Commentaire 1</p>
                                <p>Commentaire 2</p>
                                <!-- Ajoutez autant de commentaires que nécessaire -->
                              </div>
                            </div>
                            <div class="appointment-list">
                            <div class="appointment">
                              <div class="date">15/01/2023</div>
                              <div class="description">Rendez-vous chez le médecin</div>
                              <div class="icon"><i class="fas fa-user-md"></i></div>
                            
                            </div>
                            <div class="comments">
                                <h3>Commentaires des médecins</h3>
                                <p>Commentaire 1</p>
                                <p>Commentaire 2</p>
                                <!-- Ajoutez autant de commentaires que nécessaire -->
                              </div>
                            <!-- Ajoutez autant de rendez-vous que nécessaire -->
                          </div>
                          <!-- Commentaires -->
                          
                            
                       </div>
                    </div>

                       <div class="sec-title">
                                
                        <div class="row exp-row">
                         <h2>Next Rendez-vous </h2>
                     </div>
                     <div class="appointment-list">
                       <div class="appointment">
                         <div class="date">01/01/2023</div>
                         <div class="description">Consultation chez le dentiste</div>
                         <div class="icon"><i class="fas fa-tooth"></i></div>
                       </div>
                       <div class="appointment">
                         <div class="date">15/01/2023</div>
                         <div class="description">Rendez-vous chez le médecin</div>
                         <div class="icon"><i class="fas fa-user-md"></i></div>
                       </div>
                       <div class="appointment">
                         <div class="date">28/01/2023</div>
                         <div class="description">Visite chez l'ophtalmologiste</div>
                         <div class="icon"><i class="fas fa-eye"></i></div>
                       </div>
                     </div>
                         
                    </div>
              </div>
              <div class="tab-pane fade exp-cover" id="resume" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="sec-title">
                                        <h2>Urgence Details</h2>
                                  </div>
                              

                                  <div class="appointment-list">
                                    <div class="appointment">
                                      <div class="date">01/01/2023</div>
                                      <div class="description">Rendez-vous chez le dentiste</div>
                                      <div class="icon"><i class="fas fa-tooth"></i></div>
                                   
                                    </div>
                                    <div class="comments">
                                        <h3>Commentaires des médecins</h3>
                                        <p>Commentaire 1</p>
                                        <p>Commentaire 2</p>
                                        <!-- Ajoutez autant de commentaires que nécessaire -->
                                      </div>
                                    </div>
                                    <div class="appointment-list">
                                    <div class="appointment">
                                      <div class="date">15/01/2023</div>
                                      <div class="description">Rendez-vous chez le médecin</div>
                                      <div class="icon"><i class="fas fa-user-md"></i></div>
                                    
                                    </div>
                                    <div class="comments">
                                        <h3>Commentaires des médecins</h3>
                                        <p>Commentaire 1</p>
                                        <p>Commentaire 2</p>
                                        <!-- Ajoutez autant de commentaires que nécessaire -->
                                      </div>
                                    <!-- Ajoutez autant de rendez-vous que nécessaire -->
                                  </div>
                                     
              </div>
              <div class="tab-pane fade gallcoo" id="gallery" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="row no-margin gallery">
                                          <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_01.jpg" alt="">
                                          </div>
                                          <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_02.jpg" alt="">
                                          </div>
                                          <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_03.jpg" alt="">
                                          </div>
                                          <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_04.jpg" alt="">
                                          </div>
                                          <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_05.jpg" alt="">
                                          </div>
                                          <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_06.jpg" alt="">
                                          </div>
                                           <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_10.jpg" alt="">
                                          </div>
                                           <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_08.jpg" alt="">
                                          </div>
                                           <div class="col-sm-4">
                                              <img src="assets/images/gallery/gallery_09.jpg" alt="">
                                          </div>
                                          
                                      </div>
              </div>
              <div class="tab-pane fade contact-tab" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                  <div class="row no-margin">
                                          <div class="col-md-6 no-padding">
                                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176144.0450019627!2d-107.79423426090409!3d38.97644533805396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874014749b1856b7%3A0xc75483314990a7ff!2sColorado%2C+USA!5e0!3m2!1sen!2sin!4v1547222354537"  frameborder="0" style="border:0" allowfullscreen></iframe>
                                          </div>
                                          <div class="col-md-6">
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Full Name" type="text" class="form-control form-control-sm">
                                                  </div>
                                                   <div class="col-sm-6">
                                                      <input placeholder="Enter Email Address" type="text" class="form-control form-control-sm">
                                                  </div>
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Mobile Number" type="text" class="form-control form-control-sm">
                                                  </div>
                                                   
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-12">
                                                     <textarea placeholder="Enter your Message" class="form-control form-control-sm" rows="10"></textarea>
                                                  </div>
                                                  
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <button class="btn btn-sm btn-primary">Send Message</button>
                                                  </div>
                                                   
                                              </div>
                                          </div>
                                      </div>
              </div>
            </div>
        </div>
    </div>
    {% endblock %} 

    {% block javascripts  %}
    <!-- JavaScript Libraries -->
    <script src="{{asset('https://code.jquery.com/jquery-3.4.1.min.js')}}"></script>
    <script src="{{asset('https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{asset('lib/easing/easing.min.js')}}"></script>
    <script src="{{asset('lib/waypoints/waypoints.min.js')}}"></script>
    <script src="{{asset('lib/owlcarousel/owl.carousel.min.js')}}"></script>
    <script src="{{asset('lib/tempusdominus/js/moment.min.js')}}"></script>
    <script src="{{asset('lib/tempusdominus/js/moment-timezone.min.js')}}"></script>
    <script src="{{asset('lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js')}}"></script>
    <script src="{{asset('assets/js/popper.min.js')}}"></script>
<script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
<script src="{{asset('assets/js/script.js')}}"></script>
    <!-- Template Javascript -->
    <script src="{{asset('js/main.js')}}"></script>
    {% endblock %}