{% extends 'base_Admin.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Date_naissance</th>
                <td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ user.adresse }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                 <td><img style="width: 100px;" src="{{ asset('upload/'~user.photo) }}" alt=""> </td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ user.telephone }}</td>
            </tr>
            <tr>
                <th>Dossier</th>
                <td><a href="{{ asset('upload/'~user.dossier) }}">{% if user.dossier is not null %}{{ user.nom }} Medical document   {% endif %}</a> </td>
            </tr>
            <tr>
                <th>Disponible_debut</th>
                <td>{{ user.disponibleDebut }}</td>
            </tr>
            <tr>
                <th>Disponible_fin</th>
                <td>{{ user.disponibleFin }}</td>
            </tr>
        </tbody>
    </table>

    <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  text-decoration: none;
  border-radius: 5px;"  href="{{ path('app_user_index') }}">back to list</a>

    <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('admin_dashboard/user/_delete_form.html.twig') }}
{% endblock %}
