{% extends 'base_Admin.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"  style="text-align:center">Plus de détails</h6>
                        </div>
    <div class="card-body">
        <div class="table-responsive">
            <div>
                </br>
                 </br>
            
                <table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0"> 
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ service.id }}</td>
                            <th>Hopital</th>
                        </tr>
                        <tr>
                            <th>Nom_service</th>
                            <td>{{ service.nomService }}</td>
                            <td>{{ service.hopital }}</td>

                        </tr>
                    </tbody>
                </table>
    </div>
 </div>

 <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_service_index') }}">Back to list</a>

 <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_service_edit', {'id': service.id}) }}">Edit</a>

    {{ include('service/_delete_form.html.twig') }}
</div>
{% endblock %}
