{% extends 'base.html.twig' %}

{% block title %} Hopitallo-Hopitaux{% endblock %} 

 {% block nav %}  
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
                        <a href="{{path('app_home')}}" class="nav-item nav-link ">Home</a>
                        <a href="{{path('hopital')}}"  class="nav-item nav-link ">Hopitaux</a>
                      
                        <a href="hopital_urgence.html" class="nav-item nav-link active">Urgence</a>
                   
                        <a href="event.html" class="nav-item nav-link">Evenement</a>
                        <a href="profil.html" class="nav-item nav-link">Profil</a>
                    </div>
                </div>
                {% endblock %}  


{% block body %} 
 <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5" style="max-width: 500px;">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Medical Packages</h5>
                <h1 class="display-4">Our Urgence available</h1>
            </div>
            <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="img/price-1.jpg" alt="">
                     
                    </div>
                    <div class="text-center py-5">
                        <h1>Hopital Ariana </h1>
                        <p>Adresse : 40, rue de ariana</p>
                        <p>Tel : 01 49 81 21 11</p>
                        <p>Directeur/Directrice : Khalil said</p>
                        <p>Telephone Service</p>
                        <a href="{{path('urgence')}}" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="img/price-2.jpg" alt="">
                      
                    </div>
                    <div class="text-center py-5">
                        <h1>Hopital Ariana </h1>
                        <p>Adresse : 40, rue de ariana</p>
                        <p>Tel : 01 49 81 21 11</p>
                        <p>Directeur/Directrice : Khalil said</p>
                        <p>Telephone Service</p>
                        <a href="{{path('urgence')}}" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="img/price-3.jpg" alt="">
                      
                    </div>
                    <div class="text-center py-5">
                        <h1>Hopital Ariana </h1>
                        <p>Adresse : 40, rue de ariana</p>
                        <p>Tel : 01 49 81 21 11</p>
                        <p>Directeur/Directrice : Khalil said</p>
                        <p>Telephone Service</p>
                        <a href="{{path('urgence')}}" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
                <div class="bg-light rounded text-center">
                    <div class="position-relative">
                        <img class="img-fluid rounded-top" src="img/price-4.jpg" alt="">
                     
                    </div>
                    <div class="text-center py-5">
                        <h1>Hopital Ariana </h1>
                        <p>Adresse : 40, rue de ariana</p>
                        <p>Tel : 01 49 81 21 11</p>
                        <p>Directeur/Directrice : Khalil said</p>
                        <p>Telephone Service</p>
                        <a href="{{path('urgence')}}" class="btn btn-primary rounded-pill py-3 px-5 my-2">Apply Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 