{% extends 'base_Medecin.html.twig' %}



{% block body %} 
  <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

              
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">DR. {{ app.user.nom }} {{ app.user.prenom }}</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
                    </div>



                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Information personnel</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small font-weight-bold">Nom et Prenom : </h4>
                                    <div >
                                       
                                       <h4>{{ app.user.nom | upper }} {{ app.user.prenom }}</h4>
                                    </div>
                                    <h4 class="small font-weight-bold">Email : </h4>
                                    <div>
                                       
                                       <h4>{{ app.user.email  }} </h4>
                                    </div>
                                    <h4 class="small font-weight-bold">Date de naissance : </h4>
                                    <div>
                                       
                                       <h4>{{ app.user.dateNaissance ? app.user.dateNaissance|date('Y-m-d') : '' }} </h4>
                                    </div>
                                    <h4 class="small font-weight-bold">Adresse : </h4>
                                    <div>
                                       
                                       <h4>{{ app.user.adresse  }} </h4>
                                    </div>
                                    <h4 class="small font-weight-bold">Telephone : </h4>
                                    <div>
                                       
                                       <h4>{{ app.user.telephone  }} </h4>
                                    </div>
                                 
                                    <a href="{{ path('app_medecin_edit', {'id': app.user.id}) }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-edit fa-sm text-white-50"></i> Edit</a>
                                </div>
                            </div>

                       

                        </div>

                        <div class="col-lg-6 mb-4">

                            <!-- Illustrations -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Travaille</h6>
                                </div>
                                <div class="card-body">
                                  <!--  <div class="text-center">
                                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                            src="img/undraw_posting_photo.svg" alt="...">
                                    </div>-->
                                    <br>
                                    <br>
                                    <h3> {{ app.user.service | upper }} chez {{ app.user.service.hopital | upper }}  </h3>
                                    <br>
                                    <br>
                                    <p>Hopital Adresse : {{ app.user.service.hopital.adresseh}}  </p>
                                    <p>Hopital Telephone : {{ app.user.service.hopital.numeroh }}  </p>
                                    <p>Hopital Type : {{ app.user.service.hopital.typeh }}  </p>

                                    <p>Vous etes disponible : {{ app.user.disponibleDebut }} H </p>
                                    <p> Fin du travaille :  {{ app.user.disponibleFin }} H  </p>
                                
                                </div>
                            </div>

                          
                

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            
        </div>

{% endblock  %} 