<div class="form-container">
{{ form_start(form,{'attr': {'novalidate': 'novalidate'}} ) }}
 <div class="form-group">
       
        {{ form_widget(form.nomh, {'attr': {'class': 'inp', 'placeholder': 'Nom'}}) }}
        {{ form_errors(form.nomh) }}
    </div>

    <div class="form-group">
     
        {{ form_widget(form.adresseh, {'attr': {'class': 'inp', 'placeholder': 'Adresse'}}) }}
        {{ form_errors(form.adresseh) }}
    </div>

    <div class="form-group">
      
        {{ form_widget(form.numeroh, {'attr': {'class': 'inp', 'placeholder': 'Numero'}}) }}
        {{ form_errors(form.numeroh) }}
    </div>

    <div class="form-group">
       
        {{ form_widget(form.typeh, {'attr': {'class': 'inp', 'placeholder': 'Type'}}) }}
        {{ form_errors(form.typeh) }}
    </div>

    <div class="form-group">
       
        {{ form_widget(form.image, {'attr': {'class': 'inp', 'placeholder': 'Image'}}) }}
        {{ form_errors(form.image) }}
    </div>

    <button style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
<br>
<br>
<br>
</div>







   

