{% extends 'base_Admin.html.twig' %}

{% block title %}Hopital index{% endblock %}

{% block body %}
    
<div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"  style="text-align:center">Liste des hôpitaux</h6>
                        </div>
                        {% for hopital in app.flashes('info') %}
                        <div class="alert alert-success">
                            {{ hopital }}
                        </div>
                        {% endfor %}
                        <div class="card-body">
                            <div class="table-responsive">
        <div>
            <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_hopital_new') }}">Create new</a>
            </br>
            </br>
        </div>
<table  class="table table-bordered" id="dataTable" width="100%" cellspacing="0">        
<thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Numero</th>
                <th>Type</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hopital in hopitals %}
            <tr>
                <td>{{ hopital.id }}</td>
                <td>{{ hopital.nomh }}</td>
                <td>{{ hopital.adresseh }}</td>
                <td>{{ hopital.numeroh }}</td>
                <td>{{ hopital.typeh }}</td>
                <td><img style="width: 100px;height: 100px;" src="{{ asset('uploads/hopitaux/'~hopital.image) }}" alt=""> </td>                
                <td>
                <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_hopital_show', {'id': hopital.id}) }}">Show</a>
                <a style=" display: inline-block;
  padding: 10px 20px;
  background-color: #4e73df;
  color: white;
  margin-top:15px;
  text-decoration: none;
  border-radius: 5px;" href="{{ path('app_hopital_edit', {'id': hopital.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </div>
        </div>
{% endblock %}
