{% extends 'base_Medecin.html.twig' %}

{% block title %}ConsultationUrgence index{% endblock %}

{% block body %}
    <h1>ConsultationUrgence index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Heure</th>
                <th>Date_consultation</th>
                <th>Diagnostic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for consultation_urgence in consultation_urgences %}
            <tr>
                <td>{{ consultation_urgence.id }}</td>
                <td>{{ consultation_urgence.heure }}</td>
                <td>{{ consultation_urgence.dateConsultation ? consultation_urgence.dateConsultation|date('Y-m-d') : '' }}</td>
                <td>{{ consultation_urgence.diagnostic }}</td>
                <td>
                    <a href="{{ path('app_consultation_urgence_show', {'id': consultation_urgence.id}) }}">show</a>
                    <a href="{{ path('app_consultation_urgence_edit', {'id': consultation_urgence.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_consultation_urgence_new') }}">Create new</a>
{% endblock %}
