{% extends 'base_Medecin.html.twig' %}

{% block title %}ConsultationUrgence{% endblock %}

{% block body %}
    <h1>ConsultationUrgence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ consultation_urgence.id }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ consultation_urgence.heure }}</td>
            </tr>
            <tr>
                <th>Date_consultation</th>
                <td>{{ consultation_urgence.dateConsultation ? consultation_urgence.dateConsultation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Diagnostic</th>
                <td>{{ consultation_urgence.diagnostic }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_consultation_urgence_index') }}">back to list</a>

    <a href="{{ path('app_consultation_urgence_edit', {'id': consultation_urgence.id}) }}">edit</a>

    {{ include('consultation_urgence/_delete_form.html.twig') }}
{% endblock %}
