{% extends 'base_Medecin.html.twig' %}

{% block title %}Rdv index{% endblock %}

{% block body %}
    <h1>Rdv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Intervele_time</th>
                <th>Date_rdv</th>
                <th>Message</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for rdv in rdvs %}
            <tr>
                <td>{{ rdv.id }}</td>
                <td>{{ rdv.titre }}</td>
                <td>{{ rdv.interveleTime }}</td>
                <td>{{ rdv.dateRdv ? rdv.dateRdv|date('Y-m-d') : '' }}</td>
                <td>{{ rdv.message }}</td>
                <td>
                    <a href="{{ path('app_rdv_show', {'id': rdv.id}) }}">show</a>
                    <a href="{{ path('app_rdv_edit', {'id': rdv.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_rdv_new') }}">Create new</a>
{% endblock %}
